header{
	width: 250px;
	height: 100%;
	float: left;
	position: fixed;
	z-index: 999;
	background: #fff;
	top: 0;
	@include breakpoint(tablet){
		width: 100%;
		height: auto;
		float: none;
	}
	@include breakpoint(mobile-landscape){
		height: 65Fpx;
		overflow: visible;
	}
	.logo{
		background: $blue;
		width: 230px;
		height: 220px;
		margin: 20px 0 0 20px;
		-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
		@include breakpoint(tablet){
			width: 100%;
			height: 100px;
			float: left;
			margin: 0; 
			text-align: center; 
		}
		@include breakpoint(mobile-landscape){
			height: 65px;
		}
		.icon-house, .icon-menu, .icon-camera, .icon-guys, .icon-cutlery{
			font-size: 12em;
			display: block;
			color: #fff;
			padding-top: 28px;
			margin-left: 40px;
			-webkit-transition: all 300ms ease-in-out;
		    -moz-transition: all 300ms ease-in-out;
		    -o-transition: all 300ms ease-in-out;
		    transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				padding-top: 15px;
				margin-left: 0;
				font-size: 5em;
				float: right;
			}
			@include breakpoint(mobile-landscape){
				padding-top: 4px;
				font-size: 4em;			
			}
		}
		.icon-house{
			margin-left: 35px;
			@include breakpoint(tablet){
				margin-left: 0;
			}
		}
		.icon-cutlery{
			font-size: 11em;
			@include breakpoint(tablet){
				font-size: 5em;
				padding-top: 15px;
				margin-left: 0;
			}
		}
		.icon-camera{
			font-size: 7em;
			padding-top: 60px;
			@include breakpoint(tablet){
				padding: 20px 20px 0 0;
				margin-left: 0;
				font-size: 4em;
			}
			@include breakpoint(mobile-landscape){
				padding: 16px 10px 0 0;
				font-size: 2.5em;			
			}
		}
		.icon-guys{
			font-size: 8.5em;
			padding-top: 46px;
			@include breakpoint(tablet){
				padding: 14px 20px 0 0;
				margin-left: 0;
				font-size: 5em;
			}
			@include breakpoint(mobile-landscape){
				padding: 12px 10px 0px 10px;
				font-size: 3em;			
			}
		}
		.icon-house, .icon-cutlery{
			width: 100px;
			@include breakpoint(mobile-landscape){
				width: 68px;
				font-size: 3em;
				padding-top: 10px;
			}
		}
		#mobile-nav{
			display: none;
			width: 100px;
			height: 100%;
			float: left;
			-webkit-transition: all 300ms ease-in-out;
		    -moz-transition: all 300ms ease-in-out;
		    -o-transition: all 300ms ease-in-out;
		    transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				display: table;
			}
			@include breakpoint(mobile-landscape){
				width: 55px;
			}
			.icon-menu{
				font-size: 3em;
				display: table-cell;
				vertical-align: middle;
				padding-top: 0;
				&:hover, &:focus, &:active{
					cursor: pointer;
				}
				@include breakpoint(tablet){
					padding-top: 28px;
				}
				@include breakpoint(mobile-landscape){
					padding-top: 20px;
					font-size: 2em;
				}
			}
		}
		#sitename{
			display: none;
			@include breakpoint(tablet){
				color: #FFFFFF;
			    display: block;
			    font-size: 3em;
			    font-weight: 900;
			    margin-top: 30px;
			    text-align: center;
			    text-transform: uppercase;
			}
			@include breakpoint(mobile-landscape){
				font-size: 2em;
				margin-top: 22px;
				margin-left: 25%;
			}
		}
	}
	.logo.minimal{
		@include breakpoint(tablet){
			height: 50px;
			.icon-house, .icon-cutlery{
				width: 70px;
				font-size: 2em;
				padding-top: 10px;
			}
			.icon-camera{
				font-size: 2em;
				padding-top: 10px;
			}
			.icon-guys{
				font-size: 2.5em;
				padding-top: 7px;
				@include breakpoint(mobile-landscape){
					font-size: 2em;
					padding-top: 10px;
				}
			}
			#mobile-nav{
				width: 45px;
				.icon-menu{
					padding-top: 15px;
					font-size: 1.5em;
				}
			}
			#sitename{
				font-size: 2em;
				margin-top: 12px;
			}
		}
	}
	#menus{
		background: #fff;
		width: 250px;
		height: 100%;
		-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
		@include breakpoint(tablet){
			width: 220px;
			position: absolute;
			top: 0;
			left: -220px;
			padding-top: 120px;
			z-index: -1;
			}
		@include breakpoint(mobile-landscape){
			padding-top: 80px;
		}
		nav{
			width: 100%;
			margin-top: 20px;
			ul{
				background: #fff;
				width: 100%;
				list-style-type: none;
				li{
					margin-left: 15px;
					a{
						font-size: 1.4em;
						display: block;
						color: $grey;
						text-transform: uppercase;
						text-decoration: none;
						margin: 20px 0 0 20px;
						&:hover, &:focus{
						    color: $blue;
						}
						&:hover:before, &:focus:before{
						    transform:rotate(180deg);
							-ms-transform:rotate(180deg); 
							-webkit-transform:rotate(180deg); 
							margin-top: -4px;
						}
						&:before{
							content: "+";
							margin: 0 10px 0 0;
							display: block;
							float: left;
							-webkit-transition: all 300ms ease-in-out;
						    -moz-transition: all 300ms ease-in-out;
						    -o-transition: all 300ms ease-in-out;
						    transition: all 300ms ease-in-out;
						}
					}
					#roof-link{
						color: $blue;
					}
					#food-link{
						color: $green;
					}
					#categories{
						width: 90%;
						height: 175px;
						margin-left: 10%;
						display: none;
						list-style-type: none;
						overflow: hidden;
						filter: opacity(0);
						opacity: 0;
						-webkit-transition: all 300ms ease-in-out;
					    -moz-transition: all 300ms ease-in-out;
					    -o-transition: all 300ms ease-in-out;
					    transition: all 300ms ease-in-out;
						li{
							width: 85%;
							margin-left: 15%;
							@include breakpoint(tablet){
								margin-left: 15%;
							}
							a{
								display: inline;
								font-size: 1em;
								margin: 0;
								text-decoration: none;
								-webkit-transition: all 300ms ease-in-out;
					   			-moz-transition: all 300ms ease-in-out;
					    		-o-transition: all 300ms ease-in-out;
					   			transition: all 300ms ease-in-out;
					   			transition-delay: 300ms;
					   			-webkit-transition-delay: 300ms;
								@include breakpoint(tablet){
									font-size: 0.6em;
									margin-right: 10px;
								}									
								&:before{
									content: "";
								}
							}
						}
					}
					#categories.on{
						filter: opacity(100);
						opacity: 1;
					}
				}
			}
		}
	}
	#menus.open{
		left: 0;
	}
	#menus.minimal{
		@include breakpoint(tablet){
			padding-top: 60px;
			@include breakpoint(mobile-landscape){
				padding-top: 50px;
			}
		}
	}
}

.food, .meals{
	header .logo{
		background: $green;
	}
	#menus nav ul li a{
		&:hover, &:focus, &:active{
			color: $green;
		}
	}
}

.place{
	header .logo{
		background: $red;
	}
	#menus nav ul li a{
		&:hover, &:focus, &:active{
			color: $red;
		}
	}
}

.guys{
	header .logo{
		background: $yellow;
	}
	#menus nav ul li a{
		&:hover, &:focus, &:active{
			color: $yellow;
		}
	}
}