#content{
	float: left;
	position: relative;
	z-index: 20;
	#post-wrap{
		.icon-close{
			color: $grey;
			font-size: 2em;
			font-weight: bold;
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 10;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;	
			&:hover, &:focus, &:active{
				cursor: pointer;
				color: $blue;
			}
			@include breakpoint(desktop){
				top: 20px;
				right: 20px;
			}
			@include breakpoint(mobile-landscape){
				font-size: 1em;
				right: 40px;
			}
		}
		#video-wrap{
			width: 50%;
			max-width: 612px;
			height: 374px;
			float: left;
			margin: 0 0 20px 0;
			position: relative;
			@include breakpoint(desktop){
				width: 100%;
			}
			#player{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.flexslider{
			width: 50%;
			float: left;
			margin: 0 0 20px 0;
			overflow: hidden;
			@include breakpoint(desktop){
				width: 100%;
			}
			.slides{
				width: 100%;
				image{
					width: 100%;
				}
			}
			.flex-control-nav{
				bottom: 0;
				@include breakpoint(mobile-landscape){
					width: 90%;
				}
			}
			.flex-direction-nav{

			}
		}
		.post-text-wrap{
			width: 40%;
			float: left;
			margin: 0 5% 20px;
			@include breakpoint(desktop){
				width: 100%;
				margin: 0;
			}
			@include breakpoint(mobile-landscape){
				margin: 0 5%;
			}
			h4{
				color: $grey;
				text-transform: uppercase;
				text-align: center;
				margin: 0 auto; 
			}
			p{
				width: 100%;
				margin: 10px 0 20px;
				color: $grey;
				height: auto;
			}
		}
	}
}